Repository muhdlubega/learnbase-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, npm run test:staged

.lintstagedrc.json:

{
  "*.{tsx,ts}": ["prettier --write", "eslint"],
  "*.{scss,css}": "prettier --write",
  "./{libs,apps}/**/*.{js,jsx,ts,tsx}": ["npm run test:staged"]
}

chore update
  .eslintrc.js
  .prettierignore
  .prettierrc.json
  libs/button/src/lib/button.stories.tsx
  package.json
Due: prettier --write, eslint, npm run test:staged

textfield component
  libs/text-field/src/index.ts
  libs/text-field/src/lib/index.tsx
  libs/text-field/src/lib/text-field.class.tsx
  libs/text-field/src/lib/text-field.spec.tsx
  libs/text-field/src/lib/text-field.stories.tsx
  libs/typography/src/lib/text/text.class.ts
  package.json
Due: prettier --write, eslint, npm run test:staged

chore: update lint-staged
  .gitignore
  .lintstagedrc.json
  package.json
Due: none

chore: update prettierignore
  .prettierignore
Due: none

update storybook
  libs/button/src/lib/button.stories.tsx
Due: prettier --write, eslint, npm run test:staged

created input folder
  libs/input/.babelrc
  libs/input/.eslintrc.json
  libs/input/README.md
  libs/input/jest.config.ts
  libs/input/package.json
  libs/input/project.json
  libs/input/src/index.ts
  libs/input/src/lib/text-field/index.tsx
  libs/input/src/lib/text-field/text-field.class.tsx
  libs/input/src/lib/text-field/text-field.spec.tsx
  libs/input/src/lib/text-field/text-field.stories.tsx
  libs/input/tsconfig.json
  libs/input/tsconfig.lib.json
  libs/input/tsconfig.spec.json
  libs/input/vite.config.ts
  libs/storybook-host/project.json
  libs/text-field/README.md
  libs/text-field/src/index.ts
  libs/text-field/src/lib/text-field.class.tsx
  libs/text-field/src/lib/text-field.tsx
  tsconfig.base.json
Due: prettier --write, eslint, npm run test:staged

setup build ci
  .github/workflows/check-build.yml
Due: none

applied comments
  libs/global/src/lib/types/index.ts
  libs/global/src/lib/types/rounded.types.ts
  libs/input/src/lib/text-field/index.tsx
  libs/input/src/lib/text-field/text-field.class.tsx
  libs/input/src/lib/text-field/text-field.spec.tsx
  tailwind.config.js
Due: prettier --write, eslint, npm run test:staged

update github action
  .github/workflows/check-build.yml
Due: none

chore: update
  libs/input/src/lib/text-field/index.tsx
  libs/input/src/lib/text-field/text-field.class.ts
  libs/input/src/lib/text-field/text-field.class.tsx
  tailwind.config.js
Due: prettier --write, eslint, npm run test:staged

chore: update
  .github/workflows/check-build.yml
Due: none

chore: update
  tailwind.config.js
Due: none

update
  .github/workflows/check-build.yml
Due: none

update
  package.json
Due: none

update
  .github/workflows/check-build.yml
  package.json
Due: none

update
  .github/workflows/test-ci.yml
Due: none

update
  .husky/pre-commit
  .lintstagedrc.json
  lint-staged.config.js
  nx.json
  package.json
  tools/eslint-rules/index.ts
  tools/eslint-rules/jest.config.ts
  tools/eslint-rules/project.json
  tools/eslint-rules/rules/eslint.spec.ts
  tools/eslint-rules/rules/eslint.ts
  tools/eslint-rules/tsconfig.json
  tools/eslint-rules/tsconfig.lint.json
  tools/eslint-rules/tsconfig.spec.json
Due: prettier --write, eslint

update
  libs/button/src/lib/index.tsx
Due: prettier --write, eslint, npm run test:staged
